/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cardo-Bold';
  src: local('Cardo-Bold'), url('/public/fonts/Cardo-Bold.ttf') format('ttf');
}
